In [2]:
import sqlite3

conn = sqlite3.connect('nominations.db')

In [5]:
q1 = 'pragma table_info(nominations)'
q2 = 'SELECT * FROM nominations LIMIT 10'

schema = conn.execute(q1).fetchall()
first_ten = conn.execute(q2).fetchall()

In [6]:
for item in schema:
    print(item)

(0, u'Year', u'INTEGER', 0, None, 0)
(1, u'Category', u'TEXT', 0, None, 0)
(2, u'Nominee', u'TEXT', 0, None, 0)
(3, u'Won', u'INTEGER', 0, None, 0)
(4, u'Movie', u'TEXT', 0, None, 0)
(5, u'Character', u'TEXT', 0, None, 0)

In [7]:
for item in first_ten:
    print(item)

(2010, u'Actor -- Leading Role', u'Javier Bardem', 0, u'Biutiful', u'Uxbal')
(2010, u'Actor -- Leading Role', u'Jeff Bridges', 0, u'True Grit', u'Rooster Cogburn')
(2010, u'Actor -- Leading Role', u'Jesse Eisenberg', 0, u'The Social Network', u'Mark Zuckerberg')
(2010, u'Actor -- Leading Role', u'Colin Firth', 1, u"The King's Speech", u'King George VI')
(2010, u'Actor -- Leading Role', u'James Franco', 0, u'127 Hours', u'Aron Ralston')
(2010, u'Actor -- Supporting Role', u'Christian Bale', 1, u'The Fighter', u'Dicky Eklund')
(2010, u'Actor -- Supporting Role', u'John Hawkes', 0, u"Winter's Bone", u'Teardrop')
(2010, u'Actor -- Supporting Role', u'Jeremy Renner', 0, u'The Town', u'James Coughlin')
(2010, u'Actor -- Supporting Role', u'Mark Ruffalo', 0, u'The Kids Are All Right', u'Paul')
(2010, u'Actor -- Supporting Role', u'Geoffrey Rush', 0, u"The King's Speech", u'Lionel Logue')

### Create ceremonies table

In [8]:
q3 = '''CREATE TABLE ceremonies(
id integer PRIMARY KEY,
Year integer,
Host text)
'''
conn.execute(q3)
years_hosts = [(2010, "Steve Martin"),
               (2009, "Hugh Jackman"),
               (2008, "Jon Stewart"),
               (2007, "Ellen DeGeneres"),
               (2006, "Jon Stewart"),
               (2005, "Chris Rock"),
               (2004, "Billy Crystal"),
               (2003, "Steve Martin"),
               (2002, "Whoopi Goldberg"),
               (2001, "Steve Martin"),
               (2000, "Billy Crystal"),
            ]

In [9]:
q4 = 'INSERT INTO ceremonies (Year, Host) VALUES (?, ?)'
conn.executemany(q4, years_hosts)

In [11]:
ten = conn.execute('SELECT * FROM ceremonies LIMIT 10').fetchall()

In [12]:
for item in ten:
    print(item)

(1, 2010, u'Steve Martin')
(2, 2009, u'Hugh Jackman')
(3, 2008, u'Jon Stewart')
(4, 2007, u'Ellen DeGeneres')
(5, 2006, u'Jon Stewart')
(6, 2005, u'Chris Rock')
(7, 2004, u'Billy Crystal')
(8, 2003, u'Steve Martin')
(9, 2002, u'Whoopi Goldberg')
(10, 2001, u'Steve Martin')

In [13]:
q5 = 'PRAGMA foreign_key = ON'
conn.execute(q5)

In [15]:
q6 = '''CREATE TABLE nominations_two(
id integer PRIMARY KEY,
Category text,
Nominee text,
Movie text,
Character text,
Won text,
ceremony_id integer,
FOREIGN KEY(ceremony_id) REFERENCES ceremonies(id)
)'''
conn.execute(q6)

In [28]:
q7 = '''SELECT nominations.Category,nominations.Nominee, nominations.Movie, nominations.Character, nominations.Won, ceremonies.id
FROM nominations
INNER JOIN ceremonies ON
nominations.Year == ceremonies.Year'''

joined_nominations = conn.execute(q7).fetchall()

In [30]:
insert_nominations_two = '''INSERT INTO nominations_two (Category, Nominee, Movie, Character, Won, ceremony_id) VALUES (?, ?, ?, ?, ?, ?)'''
conn.executemany(insert_nominations_two, joined_nominations)

In [31]:
content = conn.execute('SELECT * FROM nominations_two LIMIT 5')
for item in content:
    print(item)

(1, u'Actor -- Leading Role', u'Javier Bardem', u'Biutiful', u'Uxbal', u'0', 1)
(2, u'Actor -- Leading Role', u'Jeff Bridges', u'True Grit', u'Rooster Cogburn', u'0', 1)
(3, u'Actor -- Leading Role', u'Jesse Eisenberg', u'The Social Network', u'Mark Zuckerberg', u'0', 1)
(4, u'Actor -- Leading Role', u'Colin Firth', u"The King's Speech", u'King George VI', u'1', 1)
(5, u'Actor -- Leading Role', u'James Franco', u'127 Hours', u'Aron Ralston', u'0', 1)

In [33]:
conn.close()
conn = sqlite3.connect('nominations.db')
conn.execute('DROP TABLE nominations')
conn.execute('ALTER TABLE nominations_two RENAME TO nominations')

In [34]:
conn.execute('''CREATE TABLE movies(id integer PRIMARY KEY, movie text) ''')
conn.execute('''CREATE TABLE actors(id integer PRIMARY KEY, actor text)''')

In [35]:
conn.execute('''CREATE TABLE movies_actors(id integer PRIMARY KEY, movie_id integer REFERENCES movies(id), actor_id integer REFERENCES actors(id))''')

In [ ]:
movies_content = conn.execute('SELECT ')